{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block extra_scripts %}
<script>
$(document).ready(
    function(){
        $("#reveal_api_keys").click(function () {
            $(".api_key_secret").toggle();
        });

    });
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-6 col-12 order-2 order-lg-1">
        <h2 class="mt-4">Devices:</h2>
    </div>
    <div class="col-lg-6 col-12 mt-4 order-1 order-lg-2">
        <a href="{{ url_for('ui.register_device') }}" type="button" class="btn btn-primary">Register Device</a>
    </div>
</div>
<div class="row mt-2 mt-lg-4 mb-2 mb-lg-4">
    {% for device in devices %}
        <div class="col-lg-6 col-12 order-2 order-lg-1">
            <div class="card">
                <div class="card-body">
                    <div class="card-title font-weight-bold">
                        <a href="{{ url_for('ui.device_details', device_id=device['id']) }}">
                            <p class="font-weight-bold">{{ device['id'] }}</p>
                        </a>
                    </div>
                    <div class="card-text">
                        <a>Last data received: </a>
                        <a>{{ last_data[device['id']]['time'] }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<hr>
<div class="row mt-lg-4 mt-2">
    <div class="col-lg-6 col-12 order-2 order-lg-1">
        <h2 class="">API Keys:</h2>
        <button  class="btn btn-primary" id="reveal_api_keys">Reveal</button>
    </div>
    <div class="col-lg-6 col-12 order-2 order-lg-1">
    <form method="post">
        <div class="form-group">
            <label for="identifier" class="font-weight-bold">Key Name</label>
            <div class="msg text-danger">{{ msg }}</div>
            <input type="text" name="identifier"
               placeholder="A name to identify it by" class="form-control"
               value="{{ request.form['identifier'] }}"/>
        </div>
        <div class="form-group">
            <button name="api_key_form" type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
    </div>
</div>
<div>
    <div class="row">
        {% for api_key in api_keys %}
            <div class="col-lg-6 col-12 order-2 order-lg-1">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title font-weight-bold">
                            <p class="font-weight-bold">{{ api_key['name'] }}</p>
                        </div>
                        <div class="card-text">
                            <p class="api_key_secret">{{ api_key['api_key'] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}